.left{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
   

}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
     background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(180, 177, 177);
}
.leftwrap{
    padding: 20px;

}
.leftbarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftbarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.leftbarIcon{
    margin-right: 12px;
}
.leftbarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}
.leftbarHr{
    margin: 20px 0;
}
.leftbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.leftbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.leftbarFriendIcon{
    width:32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;


}